
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600&family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/owl.carousel.css">
    <link rel="stylesheet" href="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/owl.theme.default.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/js/owl.carousel.js"></script>
<style>
.site-footer {
        display: none !important;
    }
    .main-content .section {
    padding: 0px !important;
}
.layout-main{
    margin-top: 0px;
    margin-bottom: 0px !important;
}
.site-footer{
  display: none !important;
}
body{
    background: none !important;
}

{# ...................end.............. #}

.nav-link
{
    
    text-decoration:none;
}
a, a.link{
    border-bottom: none;
}
.nav_bar{
    background-color:white;
}


.navbar{
    background-color:white !important;
    padding-bottom:0rem !important;
}
img {
    width: 16rem !important;
}
.title
{
    display:inline !important;
    margin-left:10%;
    color:darkslateblue;
    font-size:21px; 
}
.navbar-light .navbar-nav .nav-link {
    color:#ffa31a;
    font-weight:bold;
    margin-left:1rem !important;
}
.navbar-nav li{
    height:fit-content;
}
.login-1 li{
    font-size:bold !important;
}
a .nav-link:hover{`
    margin-bottom: 4px;
  }
.tool{
    width: 50%;
    flex-direction: row;
    justify-content: space-around !important
}
{# navbar end#}     

.container-fluid .nav-bar{
    height:2.6rem !important;
}
.container-fluid .login-1{
    height:3rem !important;
}
.nav_buttons{
    background-color: #e64a19;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    width:21%;
    
  }
.nav_buttons:hover{`
    margin-bottom: 0px;
  }

.a-link{
  text-decoration: none !important;
  border-bottom: 0px !important;
  
}

.user_nav{
    font-size: 1rem !important;
    letter-spacing: 0px !important;
    font-weight: bold !important;
    
  }

  .navbar-nav li{
    margin-left:auto;
    overflow:hidden !important;
    height:fit-content;
  }
  .navbar-main{
    height:3.5rem;
  }



{# register #}
.sidebar
{
    position:fixed;
    left:0px;
    padding:0px 0px 0px 0px;
    z-index: 1;
    width:fit-content !important;
    
}
.sidebar-logo{
    width:4rem !important;
    size:2rem;
}
.sidebar-1{
    width:65px;
    height:fit-content;
    text-align:center;

}
.bg-dark {
    background-color: #1a2226;
    background-color:  #002147!important;
}
.flex-column
{
    
    padding: 0px 0px 0px 0px;
}
@media(min-width:851px){
img{
 max-width: 100% !important;
 margin-left: 0px !important;
 margin-right: 0px !important;
}
}
.nav-icon{
    font-size:2rem !important;
    padding: 0.5rem 0.5rem;
    color:#FF9B00;
    text-align:center;
}

{# section1 #}
.indicator{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;

}
.carousel-inner
{
    
    overflow:hidden;
    height:27rem !important;
    z-index:0 !important;
    object-fit:cover !important;

}
.carousel-item{
    height:100%;
    position:absolute !important:

}
.carousel.slide
{
    margin-left:4rem !important;
    
}

.carousel_title{
    position: absolute;
    z-index: 1;
    top: 0;
     background-color:#3960b04d;
    font-size: 4.8rem;
    line-height: 1;
    letter-spacing: 2.5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color:white;
    text-align: center;
    padding:10% 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}

.carousel_title-1{
    position: absolute;
    z-index: 1;
    top: 0;
    background-color:#8b8ed157;
    font-size: 4.5rem;
    line-height: 0.8;
    letter-spacing: 2.2px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color:white;
    text-align: center;
    padding:5% 15%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

    .curupted::before{
        content: "Curated learning pathways";
        color:#fbc02d;
        font-weight:bold;
}


.carousel_title-2{
    position: absolute;
    z-index: 1;
    top: 0;
    background-color:#21212142;
    font-size: 5.5rem;
    line-height: 1;
    letter-spacing: 2.5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color:white;
    text-align: center;
    padding:5% 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
p::before{
    content:"Tailored program";
    color:#fbc02d;
    font-weight:bold;
}

.everybody{
    border:0px;
    font-size: 2rem;
    font-weight:bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem; 
    padding-right: 2rem;
    background-color: #f7ca12;
    color: white;   
}
.carousel-control-prev{
    width:1% !important;
}
.carousel-control-next{
    width:1% !important;
}
{# .carousel_title{
    position:absolute;
    z-index: 1;
    top: 0px;
    left: 10%;
    font-size: 1.5rem;
    font-weight:bold;
    height: 100%;
    width: 30%;
    padding:auto;
    color: #FFF;
}
.carousel_title span{
    width:100%;
    height:fit-content;
} #}

{# section 1 #}
.content{
    width:100%;
    display:flex;
    margin:2rem 0rem 0rem 0rem;  
    height:27rem !important;
}
.section1 
{
    width:50%;
    height:100% !important;
}
.section1 img{
    height:100% !important;
}


{# section2 #}
.section2
{
    margin-top:2rem;
    width:100%;
    background-color: white; 
    background-image: linear-gradient(to right, #2e86ef, #5ea6c7);
    height:80%;
}

.section2 .card{
    background-color:transparent !important;
    font-family: 'Barlow Condensed', sans-serif;
    text-align:center;
    color:#FFFFFF !important;
    height:100%;
    font-size:1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-right:10px;
}
.section2 img{
    width:50% !important;
    height:100% !important;
    padding-left:5.2% !important;
    object-fit:cover !important;
}
.section2 span
{
    width:100% !important;
    display: flex;
     flex-direction: column;
    text-align:left;
    justify-content:space-evenly;
    height: 100%;
}
.learning{
    width:40%;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content:space-evenly;
    padding:3rem;
    padding-right:1rem;
} 
.learning h3{
    width:100%;
    font-weight:bold;
    text-align:left;
}          
.learning span{
    width:100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:1.5rem !important;  
}
.learning button{
    width:fit-content;
    background-color:transparent !important;
    padding:0.5rem 1.5rem;
    color:white;
    text-align:left;
    border: 2px solid #ffff;
    margin-top:3rem;
    border-radius:0 !important;
    font-weight:600;
}
{# .section2 button{
    align-self:end;
} #}
   
   {# card #}

.cardheader{
    
    width:50% !important;
    margin-top:4rem !important;
    
}
.pic{
    padding:3rem 0rem;
    width:30%
}
.flex{
    display:flex;
    flex-wrap:wrap;
    margin-left:4rem;
}
.section3 {
    width:33%;
    margin-left:0rem;
    padding:1rem;
    height:20rem !important;
    margin-top:1rem;
    position:relative;
}
.section3 img{
    height:70%;
    object-fit:cover !important;
}
.section3 span{
   
    
    text-align:center;
    font-family: 'Barlow Condensed', sans-serif;
    width:100%;
    border:1px solid gray;
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:16px;
    
}
.autism
{
     position:absolute; 
    left:11%;
    font-family: 'Barlow Condensed', sans-serif;
    top:54%;
    bottom:20%;
    width:80%;
    font-size:15px;
    text-decoration:none;
    background-color:white;
    height:4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.autism h5
{
    margin-top:auto;
    text-decoration:none;
    margin-bottom:auto;
     font-weight:bold;
    color:#2e86ef;
    font-size:1.4rem;
    text-align:center;
    font-family: 'Barlow Condensed', sans-serif;
}

.autism .word:after {
    position: absolute;
    left: 43% !important;
    content: ' ';
    width: 35px;
    height: 3px;
    background-color: #93979a;
    bottom: 4px;
    left: 50%;
}
.word{
    text-decoration:none;
}
.word:hover{
    color:#3951a2 !important;
    text-decoration:underline !important;

}
{# ---------end------------ #}



{# content end #}
.section4
{
    margin-top:4rem;
    width:100%;
    background-color: white; 
    background-image: linear-gradient(to right,#26558F,#0F62D2);
    height:80%;
}

.section4 .card1{
    background-color:transparent !important;
    font-family: 'Barlow Condensed', sans-serif;
    text-align:center;
    color:#FFFFFF !important;
    height:20rem;
    font-size:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:4.2rem !important;
    padding-right:10px;
    
    
}
.section4 img{
    width:45% !important;
    height:100% !important;
}
.section4 span
{
    width:100% !important;
    display: flex;
     flex-direction: column;
    text-align:left;
    justify-content:space-evenly;
    height: 100%;
}
.head{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content:space-evenly;
    padding:3rem;
} 
.head h3{
    width:100%;
    font-weight:bold;
    text-align:left;
}          
.head span{
    width:100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:1.2rem !important;  
}
.head button{
    width:fit-content;
    background-color:transparent !important;
    padding:0.5rem 1.5rem;
    color:white;
    text-align:left;
    border: 2px solid #ffff;
    margin-top:3rem;
    border-radius:0 !important;
    font-weight:600;
}


{# Section 4 is end #}
.content3{
    width:100%;
    margin-top:3rem;
    height:80%;
}
.content3 .News{
    width:100%;
    background: linear-gradient(to right,#FDC830,#F37335);
    height:12rem !important;
    color:white;
    font-size:18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.News .head1{
    display: flex;
    flex-direction: row;
    margin-left:3px !important;
    font-size:2.5rem;
    font-weight:700 !important;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 1.5rem;
}


.hidden{
    width:30%;
}
.news_container
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items:left;
    
    
}
.form-control{

    margin-top:1rem !important;
    margin-right:0rem !important;
    border-radius:0 !important;
    line-height:1.92 !important;

    
}
.firstname{
    margin-right:0.5rem;
    width:20%;
     border-radius:0 !important;
     height:46px;
}
.lastname{
    margin-right:0.5rem;
    width:20%;
     border-radius:0 !important;
     height:46px !important;
     lin
}
.zipcode{
    margin-right:0.5rem;
    width:10%;
    border-radius:0 !important;
    height:46px !important;
}
.email{
    margin-right:0.5rem;
    width:30%;
    border-radius:0 !important;
    height:46px;
}
.signup{
   background-color:#b71c1c;
   border-radius:0 !important;
   width:12%;
   border:none;
   color:white;
   height:46px !important;

}

{# news design is end #}
.support{
    height:70%;
}
.support_your
{
    margin-top:4rem;
    width:100%;
    background-color: white; 
    background-image: linear-gradient(to right,#005C97,#363795);
    height:60%;
}

.support_your .card1{
    background-color:transparent !important;
    font-family: 'Barlow Condensed', sans-serif;
    text-align:center;
    color:#FFFFFF !important;
    height:100%;
    font-size:1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-right:10px;
    
    
}
.support_your img{
    width:50% !important;
    padding-left:4rem;
    
    height:fit-content !important;
}
.support_your span
{
    width:100% !important;
    display: flex;
     flex-direction: column;
    text-align:left;
    justify-content:space-evenly;
    height: 100%;
}
.shop{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content:space-evenly;
    padding:3rem;
} 
.shop h3{
    width:100%;
    font-weight:bold;
    text-align:left;
    font-size:2rem;
}  
.shop h1{
    width:100%;
    font-weight:bold;
    text-align:left;
    font-size:1.2rem;
    text-color:white !important;
    color:white;
}        
.shop span{
    width:100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:1rem !important;  
}
.shop button{
    width:fit-content;
    background-color:transparent !important;
    padding:0.5rem 1.5rem;
    color:white;
    text-align:left;
    border: 2px solid #ffff;
    margin-top:3rem;
    border-radius:0 !important;
    font-weight:600;
    font-size:1.5rem;
}

.quote__cite {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    padding-top: 25px;
    font-size:25px;
}

{# ......support..... #}

.stephen{
    width:100%;
    margin-top:3rem;
    height:fit-content;
    
    
}
.stephen .person{
    background-image:linear-gradient(to right,#DA4453,#89216B);
    font-family: 'Barlow Condensed', sans-serif;
    width:100%;
    background-color: #b96dfc; 
    height:18rem !important;
    color:white;
    font-weight:600;
    font-size:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:2rem;
    padding-right:10px;
    justify-content:space-evenly;
    
}
.person i{
    color:#072e99;
    width:100%
    
}

{# ----------END-------- #}

.social_media
{
    width:100%;
    margin-top:4rem !important;
    height:100%;
    background-image: linear-gradient(to right,#005C97,#363795);
    font-family: 'Barlow Condensed', sans-serif;
    display:flex;
}
.card2{
    height:27rem;
    width:35%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left:5rem;
    padding-top:3rem;
    color:white;
    
    
}
.backcard{
    position: relative;
    display: block;
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}
.backcard .icon-box{
     position: relative;
    display: inline-block;
    font-size: 65px;
    line-height: 65px;
     width: 40%;;
  height: 100px;
  position: relative;
  animation-name: tilt;
  animation-duration: 1s;
  animation-delay: 0s;
animation-iteration-count: infinite;
}
{# @keyframes example {
  0%   {background-color:white; left:0px; top:0px;}
  25%  {background-color:white; left:200px; top:0px;}
} #}
.backcard .icon-box img{
    position: relative;
}
.card2 h1{
    color:white;
    padding-bottom:2rem;
    font-size: 3rem;
    font-weight:bold;
    
}
.card-title{
    font-weight:bold !important;
}
.therapy{
    position: relative;
    width: 70%;
    text-align: center;
    align-self: flex-start;
    color:#ef6c00;
    font-weight:bold;
    font-size:2rem;
}
.doubledash{
    width: 20% !important;
    display: inline !important;
    margin-right: 0.5rem !important;
}

.card2 h1 span{
    font-size:20px;
}

.owl-carousel{
    position:relative;
    display:flex;
    margin-top:4rem;
    margin-left:3rem;
    width:65%;
    position:unset;

}
.owl-nav{
    position:absolute;
    left:90px;

}
.backcard{
    margin-right:2rem;
}
.owl-carousel .backcard img {
    transform-style: preserve-3d;
    background-color:white !important;
}
.owl-prev{
    position: relative;
    background-color: red !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}
.owl-prev span, 
.owl-next span{
    position: absolute;
    top: 65%;
    bottom: 100%;
    font-size: 40px;
    width: 100%;
    left: 0%;
    height: 100%;
    color: white;
    margin: auto;
    padding: initial;
}
.owl-next{
    position: relative;
    background-color: red !important;
    border-radius: 70% !important;
    width: 50px !important;
   height: 50px !important;
}
.owl-dot{
    margin-top:2rem !important;
}






{# .video_video{
    margin-top:4rem;
    width:100%;
}
 .img-head
{
    background-image:linear-gradient(#4997d2);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.card-body span{
    font-size: 1rem;
    font-weight: 600;
    text-align: center !important;
    margin-left: 3rem
} #}

.testimonial-video {
  margin-top:4rem;
  width:100%;
  
}

.elina-video{
    position:relative;
    width:50%;
    margin-left:4rem;
    display:flex;
    
}

.play-icon{
    position: absolute;
    z-index: 1;
    top: 0;
    background-color:#2835938a;
    opacity:0.5;
    left: auto;
    font-size: 4.5rem;
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-align: center;
    display:flex;
}
.play-icon-1{
    margin:auto;
    color:white;
    background-color:#2835932e;
    text-decoration: none !important;

}
.play-icon-1 a{
    text-decoration:none !important;
}
.card-video{
    width:50%;
    margin-left:2rem;
    height:100%; 
    font-weight:bold;
     margin-right:4rem;
      
}
.video-content{
    color:#363795;
    font-weight:bold;
   
    
}
{# .video-content span h1::before{
    position: absolute;
    left: 43% !important;
    content: ' ';
    width: 35px;
    height: 3px;
    background-color: #93979a;
    bottom: 4px;
    left: 50%;
} #}
.video-content span h1{
    color:#363795 !important;
    font-weight:bold !important;
   
}
.video-content span h3{
 color:black !important;
 
}
.video-content span{
    height:100%;
    color:black;
    text-align:left;
    font-size:18px;
    font-family: 'Barlow Condensed';
    
    
}
.btn-box{
        margin-top: 6rem !important;
}
.theme-btn {

    position: relative;
    display: inline-block;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 10px 20px;
    background-color: #c82027;
    line-height: 26px;
    color: #ffffff !important;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 500ms ease;
    z-index: 1;
    text-decoration:none !important;
}
.theme-btn::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #253b70;
    width:fit-content;
}




{# ------------End------------ #}

.footer{
    overflow:hidden !important;
    width:100%;
    font-family: 'Barlow Condensed', sans-serif;
    background: linear-gradient(to right, #243c7a,#243c7a); 
    height:25rem;
    color:white;
    font-size:14px;
    display: flex;
    flex-direction: column;
    text-decoration:none !important;
    margin-top:3rem;

}  
.footer-head{
    height:80%;
    margin-left:6rem;
    padding-top:2rem; 
    font-family: 'Barlow Condensed', sans-serif;   
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:left;
}
.footer-top{
    display:flex;
    font-family: 'Barlow Condensed', sans-serif;
    flex-direction:column;
    width:25%;
    margin-right:5rem;
    border-right:1.25px solid white;
    padding-right:1rem;
}
.footer-top span{
    
    line-height:1.3;
    font-size:17px;
    
    
}
.footer-head span h1{
    color:white;
    font-weight:bold;
    
}

.quick{
    margin-left:2rem;
    font-family: 'Barlow Condensed', sans-serif;
    width:20%;
    display:flex;
    flex-direction:column;
    border-right:1.25px solid white;
    
    
}
ul{
    list-style:none;
    padding-left: 0px;
}
.quick li a::before{
position: absolute;
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    color: #c82027;
    font-weight: 700;
    left: 0px;
    top: 1px;
    opacity: 0;
    
}
li a{
    line-height:2;
    
    text-decoration:none !important;
   
}
a .foot{
    color:#FFFFFF !important;
    
    
}
.touch{
    margin-left:6rem;
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:left;
}
.touch li{
    line-height:2.5;
}
.footer-links span{
    font-size: 1.5rem;
    font-weight: bold;


} 
.touch .cheif{
    margin-left:3rem !important;
    font-size: 18px;
}
.social-links{
  height: fit-content;
  margin-left:auto !important;
  margin-right:9rem;
  font-size: 2rem;
  margin-top:0rem !important;
    
}
.footer-links{
  list-style: none !important;
  margin-bottom: 0px !important;
    padding: 0px !important;
}
{# li .a-link{
    color:blue !important;
} #}
.footer-bottom{
    height:20%;
   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom:1.8rem;
    width:100%;
}
.copy{
    margin-left:5rem;
    font-size:1rem;
    width:50%;
    margin:0rem auto !important;
    padding-left:10rem;
    font-weight:bold;
    font-style: italic;
}
.quick a{
    color:white !important;
    font-size:18px;
}
.touch li span{
    margin-left:2rem;
    font-size:18px;
}
.bi-person-fill{
    color:red;
}
.bi-house-fill{
    color:red;
}
.bi-telephone-fill{
    color:red;
}
.bi-envelope-fill{
    color:red;
}
.bi-globe{
    color:red;
}
.bi-facebook{
    
    font-size:2.5rem;
    padding-right:6px;
}
.bi-instagram{
        
    font-size: 2.5rem;
    padding-right: 6px;

}
.bi-twitter{
font-size: 2.5rem;
padding-right: 6px;
}
.bi-linkedin{
    font-size: 2.5rem;
padding-right: 6px;
}
.bi-youtube{
    font-size: 2.5rem;
padding-right: 6px;
}
.footer-links .a-link{
    color:white !important;
}

.photo-title{

margin-top: 3rem;
    margin-left: 6rem;
    text-align: center;
    padding-top:2rem;
}
.photo-title h5{
    color:red;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight:bold;

}
.photo-title h1{
   color: #243c7a;
   font-family: 'Barlow Condensed', sans-serif;
   font-weight:bold;
}
.doubledash2{
    width: 5% !important;
    display: inline !important;
    margin-right: 0.5rem !important;
}
.row{
    margin:1rem 5rem;
}
.image{
    width: 70%;
    overflow: hidden;
    text-align:center;
    margin:0px auto;
}
.client{
    border:none !important;
    background: transparent;
}
.client-section{
        margin-top: 4rem;
    background-color: #f2eee9;
    height:27rem;
}
.rama{
    width:50%;
    border-radius:50%;
}
.rama-btn{
    border:0px;
    font-size: 1rem;
    font-weight:bold;
    margin-top:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem; 
    padding-right: 2rem;
    background-color: transparent;
    color: white; 
}
.image-text{
    text-align:center;
}
.image-text span{
    text-align:center;
    max-width: 100%;
    color: blue;
    font-size: 1rem;
    font-weight: 800;

}
.client-section .col-3{
    margin-top:2rem;

}
.backcard .card{
    border:0px !important;
}
.backcard .card-body{
    text-align:center;
}
.backcard .card-body span{
    text-align:center;
     display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.Enroll{
    background-color:#243c7a;
    width:100%;
    height:25rem;
    margin-top:4rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    vertical-align:center;
    font-family: 'Barlow Condensed', sans-serif;
}
.Enroll h3{
    color: white;
    margin-top: 5rem;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing:3.2;
}
.Enroll h5{
    color: white;
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}
.enrol{
    font-size: 25px;
    color: white;
    margin-top: 0.5rem;
    font-weight:bold;
}
.enrolnow{
    margin-top:4rem;
}
.enrollnow
{
    background-color:red;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    }
{# .quick-links{
    display:flex;
    flex-direction:column;
    align-items:left;
} #}
{# .footer-head{
    width:100%;
    height:50%;
    display:flex;
    color:white;
    text-align:center;
    margin-top:1rem;
    padding-left:4rem;
   
    
}

.footer-top-1{
    width:25%;
    text-align:center;
    border-right:1px solid white;
     text-decoration:none !important;

    
}
li a{
    color:white;
    text-decoration:none !important;
   
}
.foot:hover{`
    color:#FFFFFF !important;
    
    
}
.footer-top-2 button{
        white-space: nowrap;
        background: linear-gradient(to right,#243c7a);
        border: none;
        color: #fff;
        font-size:1.5rem;
        text-align:center;
        font-weight:bold;
}
.btn
{
border-radius: 0px !important;
}
.footer-top-2{
    width:30%;
    margin-top:2rem;

}
.footer-top{
    text-align:left;
    border-right:1px solid white;
    width:15%
     text-decoration:none !important;
    
}
.footer-top li{
    list-style-type: none;
    line-height:2.0;

    
}
.footer-top-1 li{
    list-style-type: none;
    padding-right:1rem;
    line-height: 2.0;
    text-align:left;
    
}
.footer-top ul{
    padding-right:12px !important;
    padding-left:15px !important;
}
.footer_bottom{
    display:flex;
    flex-direction:row;
            8rem;
    margin-bottom:1rem;
}
.footer-bottom-1{
    display:flex;
    flex-direction:row;
    display:inline;
    margin-top:5.5rem;
    margin-right:auto;
    font-size:x-large;
}
.footer-bottom-1 img{
    width:15%;
} #}
{# .social-links{
  height: fit-content;
  font-size: 2rem;
  margin-top:0rem !important;
}
.footer-links{
  list-style: none !important;
  padding-left: 0px !important;
}
.footer-links span{
    font-size: 1.5rem;
    font-weight: bold;

} #}

{# ---------------End-------------- #}

{# .Elina-icon{
    position:fixed;
    bottom:1rem;
    left:75rem;
    margin-left:auto;
    
}
.Elina-icon .elina{
    width:80% !important;
} #}

</style>


{# Gallery-section #}
<style>
    .gallery_container{
        margin-top:4rem;
        position: relative !important;
        background-color: #f2eee9 !important;
        padding: 9rem 6rem !important;
    }
    @keyframes tilt {
        0%   {left:90px;}
        50%  {left: calc(90px + 8%);}
        100% {left:90px;}
    }
    .gif_img{
        position: absolute;
        top: -18%;
        left: 90px;
        width: 9rem;
        height: 16rem;
        z-index: 100;
        animation-name: tilt;
        animation-delay: 5s;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }
    .gif_img_content{
        width: 100% !important;
        height: 100% !important;
    }
    .Gallery_heading_bar{
        width: 5% !important;
    }
    .gallery_heading{
        text-align: center !important;
        margin-bottom: 1rem !important;
    }
    .gallery_heading span{
        width: fit-content !important;
        font-size: 1rem !important;
        font-weight: 700 !important;
        color: #e84746 !important;
        margin: auto 1rem !important;
    }
    .gallery_header{
        font-size: 40px !important;
        line-height: 50px !important;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 900 !important;
        color: #243c7a !important;
        margin-bottom: 2rem !important;
    }
    .gallery_collection_container{
        margin: 0rem 1rem !important;
    }
    .gallery_collection_container .card{
        border: 0px !important;
        border-radius: 12% !important;
        overflow: hidden !important;
        margin-top: 2rem !important;
    }
    .gallery_collection_container img{
        width: 100% !important;
    }
    .hover_plus_wrapper{
        display: none !important;
        position: absolute !important;
        background-color: #0000008f !important;
        top: 0px !important;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: ease-in-out 10s;
    }
    .hover_plus{
        padding: auto !important;
        position: absolute;
        top: calc(50% - 20px) !important;
        left: calc(50% - 20px) !important;
        font-size: 1rem !important;
        color: #fff !important;
        background-color: #ff0000 !important;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
    }
    .hover_plus i{
        margin: auto !important;
    }
    .gallery_collection_container .card:hover .hover_plus_wrapper{
        display: block !important;   
    }
</style>

<style>
{# carousal #}
@media(min-width:320px){
    .carousal.inner{
        height:8rem !important;
    }

    .nav_buttons{
        width:60% !important;
    }
    
    .lerning span{
        font-size:12px;
        line-height:1rem;
    }
    .learn h3{
        font-size:11px;
    }
    .section2 .card{
        display:flex;
        flex-direction:column;
        align-items: left;
    }

    
}
@media(min-width:425px){
    .nav_buttons{
        width:50% !important;
    }
    
}

@media(min-width:576px){
        .carousal.inner{
        height:16rem !important;
        }
        .nav_buttons{
            width:40%;
        }
         .section2 .card{
        display:flex;
        flex-direction:row;
        align-items: left;
    }
        
        



}  

@media(min-width:768px){
        .carousal.inner{
            height:8rem !important;
        }
        .nav_buttons{
            width:30% !important;
        }



}

@media(min-width:1024px){
.carousal.inner{
    height:8rem !important;
}
.nav_buttons{
    width:21% !important;
}

.nav-link{
    padding-right:0rem !important;
}
.section2{
background-image: linear-gradient(to right,#2e86ef,#f74f9c);
}


}

</style>

{# register #}

<div class="container-fluid">
            <div class="login w-100" id="navbarSupportedContent">
                <ul class="navbar-nav login-1 ms-auto mb-2 mb-lg-0 d-flex flex-column flex-lg-row justify-content-around">
                    
                    <li class="nav-item">
                    
                       <a class="a-link px-2 nav-link fs-lg-6 fs-xxl-5 fs-2000-4 fw-bold text-darkblue" href="#">
                       Login
                       <i class="fa fa-power-off text-141ad8 fs-xxl-5 fw-bold" aria-hidden="true"></i>
                       </a>
                    </li>
                </ul>
            </div>
        </div>
<div class="container-fluid nav_bar">
   
     <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-main">
        <div class="container-fluid">
        <div class="logo">
        <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Elina-img">
    
    </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-75" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-column flex-lg-row justify-content-around">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Intervention-Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Enablement-Services </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thought-Leadership </a>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Gallery </a>
               
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact </a>
                    
                </ul>
                    
            </div>
        </div>
  
    </nav>
</div>

        {# <div class="container-fluid">
            <div class="login w-100" id="navbarSupportedContent">
                <ul class="navbar-nav login-1 ms-auto mb-2 mb-lg-0 d-flex flex-column flex-lg-row justify-content-around">
                    
                    <li class="nav-item">
                    
                       <a class="a-link px-2 nav-link fs-lg-6 fs-xxl-5 fs-2000-4 fw-bold text-darkblue" href="#">
                       Login
                       <i class="fa fa-power-off text-141ad8 fs-xxl-5 fw-bold" aria-hidden="true"></i>
                       </a>
                    </li>
                </ul>
            </div>
        </div> #}



    <div class="container-fluid px-0 user_nav">
        <ul class="navbar-nav d-flex flex-row justify-content-end ms-auto pb-0">
        <li class="nav-item d-flex flex-row justify-content-end px-lg-3 border border-0 nav_buttons">
            <a class="a-link px-2 nav-link fs-lg-6 fs-xxl-5 fs-2000-4 fw-bold text-white" href="#">
            Enroll Now
            <i class="bi bi-person-plus-fill fw-bold"></i>
            </a>    
        </li>
        </ul>  
    </div>

 {# navbar end #}           
    
<div class="sidebar justify-content-between">
  <div class="d-flex sidebar-1 flex-column flex-shrink-0 text-white bg-dark">
      
        
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-icon" title="Home">
             <i class="bi bi-house-door-fill"></i>
      </li>
      <li class="nav-icon" title="Dashboard">
            <i class="bi bi-speedometer2"></i>
        </li>
      
      <li class="nav-icon" Title="Events">
             <i class="bi bi-table"></i>
      </li>
      <li class="nav-icon" title="">
            <i class="bi bi-columns-gap"></i>
      </li>
      <li class="nav-icon" title="Profile">
        <i class="bi bi-person-bounding-box"></i>
      </li>
      <li class="nav-icon sidebar-logo">
    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/elina-logo.png">
    </li>
    </ul>
    
  </div>
  </div>
  {# sidebar is end #}




<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active indicator" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="indicator" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="indicator" aria-label="Slide 3"></button>
        </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/carousal-20.jpg" class="d-block w-100" alt="...">
            <span class="carousel_title-1">
                <span> 
                Alone we can do so little 
                Together we can do so much
                </span>
                <button type="button" class="everybody rounded-pill">EVERYBODY INCLUDED</button>
            </span>
        </div>
        <div class="carousel-item">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/carousal-10.jpg" class="d-block w-100" alt="...">
            <span class="carousel_title">
                <span class="curupted"> 
                 for 
                independent living


                </span> 
            </span> 
        </div>
        <div class="carousel-item">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/carousal-30.jpg" class="d-block w-100" alt="...">
            <span class="carousel_title-2">
                <span> 
                <p> based on child's unique gifts and 
                            strength</p>

                </span> 
            </span>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  
</div>


{# carousal end #}



<div class="content">
    
    <div class="section2">
        <div class="card" id="liner justify-content-center">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/cardview.jpg">
               <div class="learning">
            <h3> Learning to become a caregiver </h3>
            <span>  
               Efficacy of an intervention program for 
                caregivers with Elina COMPASS (Continuous Mapping in Abilities Strengths and Skills), 
                SAIL (Setting up Access for Independence and Learning), and more.
                
            </span>
            <button class="btn btn-primary" type="submit"> Learn More </button>
            </div>
        </div>
        </div>
    </div>
</div>




{# -------------------------------- #}
<div class="container">
    <div class="flex">
        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Autism.jpg" class="d-block w-100" alt="...">
            <span> Some of the most wonderful people are the ones who don’t fit into boxes. </span>
            <div class="autism">
                  <h5> 
                    <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">What is Special needs? </div></a>
                  </h5>
            </div>
        
        </div>

        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/academic.jpg" class="d-block w-100" alt="...">
            <span> A Tailored academic Approach, working for children with diverse learning challenges  </span>
            <div class="autism">
                  <h5><a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Academic Approach
  </div></a></h5>
            </div>
        
        </div>

         <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/specialeducation.jpg" class="d-block w-100" alt="...">
            <span>Children feel cared about and are encouraged to care about each other, Teach your child with love and skill.
  </span>
        <div class="autism">
                  <h5><a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Special Education  </div></a>  </h5>
            </div>    
        

        </div>

         <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/autism response team.jpg" class="d-block w-100" alt="...">
            <span> Any questions? We are here to help to learn more about special needs!
 </span>
            <div class="autism">
                  <h5> <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Elina response team
  </div></a> </h5>
            </div>
        
        </div>
        
        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Elina event.jpg" class="d-block w-100" alt="...">
            <span>Optimal Experience and Feeling Engaged in a sequence of events.

 </span>
            <div class="autism">
                  <h5> 
                  <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Elina Events
 </div></a>
                   </h5>
            </div>
        
        </div>

        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/impact.jpg" class="d-block w-100" alt="...">
            <span> Creating Positive Experiences  with students, schools, Teachers and Therapists. </span>
            <div class="autism">
                  <h5> 
                  <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Elina Impact
  </div></a>
                   </h5>
            </div>
        
        </div>

        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Parents-1.jpg" class="d-block w-100" alt="...">
            <span> Children feel cared about and are encouraged to care about each other, Teach your child with love and skill.</span>
            <div class="autism">
                  <h5> 
                  <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Families
  </div></a>
                   </h5>
            </div>
        
        </div>

        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/school" class="d-block w-100" alt="...">
            <span> 
                Turned off traditional learning, Turn on Inclusion educational classroom

  </span>
            <div class="autism">
                  <h5> 
                  <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Schools
  </div></a>
                   </h5>
            </div>
        
        </div>

        <div class="section3">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/professionals.jpg" class="d-block w-100" alt="...">
            <span> Education and Therapeutics Working Together, A practical approach for staff.

</span>
            <div class="autism">
                  <h5> 
                  <a class="word" href=" " data-uw-styling-context="true" data-uw-rm-brl="false">
            <div data-uw-styling-context="true">Professionals </div></a>
             
                   </h5>
            </div>
        
        </div>


    </div>
</div>

{# card action is end #}


    

{# card action is end #}

<div class="content2">
    
    <div class="section4">
        <div class="card1" id="liner justify-content-center">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Together-1.jpg">
            <div class="head">
            <h3> Some best practices in Inclusion </h3>
            <span>  
                Our inclusive forum is where partners and collaborators share their best practices so that we can create a better environment for children with special needs.
Inclusion framework for online education and schools, Research on inclusive environment and more. 

                
            </span>
            <button class="btn btn-primary" type="submit"> Walk With Us </button>
            </div>
        </div>
     </div>
</div>

<div class="content3">
        <div class="News">
           <div class="head1">      
                Get News, Updates & More
            </div>
           
                <form action="news_container">
                    <label for="firstname" class="firstname"> 
                        <input class="form-control" type="text" placeholder="Firstname">
                    </label>
                    <label for="Lastname" class="lastname">
                        <input class="form-control" type="text" placeholder="Lastname">
                    </label>
                    <label for="Zipcode" class="zipcode"> 
                        <input class="form-control" type="text" placeholder="Zipcode">
                    </label>
                    <label for="Email Address" class="email"> 
                        <input class="form-control" type="text" placeholder="Email address">
                    </label>
                    <button class="signup" type="button" value="Sign up">Sign up</button>
                </form>
            
        </div>
    </div>

{# End the design #}

<div class="support">
    
    <div class="support_your">
        <div class="card1" id="liner justify-content-center">
            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/support-Elina-1.jpg">
            <div class="shop">
            <h3> Show Your  Support</h3>
            <span>  
                <h1> Show your support for intersectional diversity and inclusion.</h1>
                
            </span>
            
            <button class="btn btn-primary"> Reach Us </button>
            </div>
        </div>
     </div>
</div>
{# ...support........ #}




<div class="container-fluid social_media">
    <div class="card2">
    <span class="therapy">
    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/doubledash1.png" class="doubledash" alt="..."> 
    Services
     </span>
        <h1> Best Therapies for Kids </h1>
        <span>
        Elina provides guidelines with suitable learning systems for 
        children who require academic, Therapeutic, and socio-emotional services
        </span>
   </div>
   
        <div class="owl-carousel owl-theme">
            <div class="backcard">
                <div class="card"> 
                <div class="icon-box">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/speech.svg">
                </div>
                   <div class="card-body">
                        <h3 class="card-title">Speech Therapy </h3>
                        <span>Speech is affected partially or completely. Regular training is necessary to improve the speech of the affected children.
                        </span>

                    </div>
                </div>
            </div>
            <div class="backcard">
                <div class="card"> 
                <div class="icon-box">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/yoga.svg">
                  </div>
                   <div class="card-body">
                        <h3 class="card-title"> Yoga Therapy</h3>
                        <span>Yoga can be beneficial for special needs children, by reducing hyperactivity and improving attention. Yoga can also be useful in improving the right posture in students.  

                        </span>
                    </div>
                </div>
            </div>
            <div class="backcard">
                <div class="card">
                <div class="icon-box"> 
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/testimonials.svg">
                </div>  
                   <div class="card-body">
                        <h3 class="card-title"> Behavioral Therapy </h3>
                        <span>Behavioral therapy is not only limited to correcting the behavioral issues of children but also, plays an important role in improving psychological and social betterment of children.
                        </span>
                    </div>
                </div>
            </div>
            <div class="backcard">
                <div class="card"> 
                <div class="icon-box">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/occupational.svg">
                   </div>
                   <div class="card-body">
                        <h3 class="card-title"> Occupational Therapy </h3>
                        <span>Will provide a perfect blend of constructive learning, Dexterity skills trainin, sensory integration, and relaxation to special need kids.
                        </span>
                    </div>
                </div>
            </div>
            <div class="backcard">
                <div class="card"> 
                <div class="icon-box">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/play.svg">
                  </div> 
                   <div class="card-body">
                   
                        <h3 class="card-title"> Play Therapy </h3>
                        <span>This sessionsto boost the confidence and enhance communication skills in children.
                        </span>
                    </div>
                </div>
            </div>
            <div class="backcard">
                <div class="card"> 
                <div class="icon-box">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/testimonials.svg">
                  </div>
                   <div class="card-body">
                        <h3 class="card-title"> Sensory Therapy</h3>
                        <span>The remedy for children with sensory issues is to correct their sensory imbalances. 
                        </span>
                    </div>
                </div>
            </div>
            {# <div class="backcard">
                <div class="card"> 
                <div class="icon-box">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/testimonials.svg">
                  </div>
                   <div class="card-body">
                        <h3 class="card-title"> play therapy </h3>
                        <span>Elina provides guidelines with suitable learning systems 
                        for children who require academic, Therapeutic, and socio-emotional services
                        </span>
                    </div>
                </div>
            </div>
            <div class="backcard">
                <div class="card">
                <div class="icon-box"> 
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/testimonials.svg">
                  </div> 
                   <div class="card-body">
                        <h3 class="card-title"> sensory therapy </h3>
                        <span>Elina provides guidelines with suitable learning systems 
                        for children who require academic, Therapeutic, and socio-emotional services
                        </span>
                    </div>
                </div>
            </div> #}
            
            
        </div>
    

        
</div>
{# # social_media is end............. #}

<div class="stephen">
        <div class="person">
            {# <span class="w-75 text-center">
            <i class="bi bi-chat-left-fill text-bg-black"></i>
            <i class="bi bi-chat-left-fill text-bg-black"></i>
            </span> #}
                <span class="w-75 text-center">
                “Inclusion is not bringing people into what already
                    exists; it is making a new space, a better space for everyone."
                </span>
                

                <span class="quote__cite w-75 text-end" data-uw-styling-context="true"> - George Dei.</span>
        </div>
        
</div>

    {# ............end.............. #}
<div class="d-flex flex-row justify-content-center align-items-center testimonial-video w-100">

    
        <div class="elina-video ">
        
            <video id="play" height="350">
                <source src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Elina_video2.mp4" type="video/mp4">
            </video>
                <div class="play-icon" id="play-icon" onclick="playpause()">
                <a class="bi bi-play-circle-fill play-icon-1" data-caption="" ></a>
            </div>

        </div>      

        <div class=" card-video video-content w-50">
            <span class="heading">
                <h1> Elina's Parents Share Their Experience </h1>
            </span>
            <span class="text-content">
              <h3>  
              We asked our parents what they most valued about the Elina experience 
              and this is what they told us...</h3>
             </span>
             <div class="btn-box">
             <a href="" class="theme-btn">Read More</a>
             </div>
        </div>


</div>      








{# <div class="container-fluid video_video">
    <div class="row w-100">
        <div class="col-6">
            <div class="card social_median w-100 ">
                <div class="img-head text-center">
                    <video width="580" height="240" controls>
                        <source src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Elina_video2.mp4" type="video/mp4">
            
                    </video>
                </div>
                <div class="card-body">
                    <span>
                        
                        We start and end with gratitude. Thanks for all the support and encouragement given. 
                    </span>
                </div>
            </div>
        </div>
        

        <div class="col-6">
            <div class="card social_median w-100 ">
                <div class="img-head text-center">
                    <video width="580" height="240" controls>
                        <source src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Elina_video2.mp4" type="video/mp4">
            
                    </video>
                </div>
                <div class="card-body">
                    <span>
                        
                        We start and end with gratitude. Thanks for all the support and encouragement given. 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div> #}
 {# -------------#End----------------- #}

<div class="container-fluid client-section">
    <div class="photo-title">
        <h5>
        <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/doubledash1.png" class="doubledash2" alt="..."> 
        We are dedicated to the care and education 
        <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/doubledash1.png" class="doubledash2" alt="..."> </h5>
        <h1> People at the Elina </h1>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card client">
                <div class="image">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/ramalakshmi.png" class="rama">
                </div>
                <div class="image-text">
                    <button type="button" class="rama-btn rounded-pill"> 
                    
                    <span title="Co-Founder">Ramalakshmi Kannan<br> Co-Founder </span> </button>
                </div>
            </div>
        </div>
     

    
        <div class="col-3">
            <div class="card client">
                <div class="image">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/narmatha.jpg" class="rama">
                </div>
                <div class="image-text">
                    <button type="button" class="rama-btn rounded-pill"> 
                    
                    <span title="Social Media Content Lead">Narmatha<br> SM Content Lead </span> </button>
                </div>
            </div>
        </div>
     <div class="col-3">
            <div class="card client">
                <div class="image">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/MALINI-MAM.png" class="rama">
                </div>
                <div class="image-text">
                    <button type="button" class="rama-btn rounded-pill">
                    <span Title="Assessment Intervention Co-ordinator">Malini<br> AI Co-ordinator</span> </button>
                </div>
            </div>
        </div>
     
    
      

        <div class="col-3">
            <div class="card client">
                <div class="image">
                    <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/sudha.png" class="rama">
                </div>
                <div class="image-text">
                    <button type="button" class="rama-btn rounded-pill">
                    <span title="IT and Outreach">Sudha Sruthi<br> IT and Outreach </span> </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Enroll">
        <h3> Join with Elina </h3>
        <h5> Enroll Your Child </h5> 

        <div class="enrol">
                Make a difference in the life of a child with 
                special needs, create an inclusive community and improve yourself!

        </div>
        <div class="enrolnow">
            <button type="button" class="enrollnow"> Enroll Now </button>

        </div>
</div>



{# gallery #}

<div class="d-flex flex-column justify-content-between align-items-center gallery_container">
    <div class="gif_img">
        <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/gif-icon1.png" class="gif_img_content">
    </div>
    <span class="gallery_heading">
        <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/doubledash1.png" class="Gallery_heading_bar">
        <span>Gallery</span>
        <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/doubledash1.png" class="Gallery_heading_bar">
    </span>
    <h2 class="gallery_header">
        Photo Gallery
    </h2>
    <div class="row justify-content-evenly align-items-center gallery_collection_container">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
            <div class="card">
                <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Bhutan.jpg" class="Gallery_collection_image">            
                <div class="hover_plus_wrapper">
                    <div class="hover_plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
            <div class="card">
                <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Bhutan.png" class="Gallery_collection_image">            
                <div class="hover_plus_wrapper">
                    <div class="hover_plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
            <div class="card">
                <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Enabling_families_1.jpeg" class="Gallery_collection_image">            
                <div class="hover_plus_wrapper">
                    <div class="hover_plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
            <div class="card">
                <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/IS-4.jpg" class="Gallery_collection_image">            
                <div class="hover_plus_wrapper">
                    <div class="hover_plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
            <div class="card">
                <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/Sharing_best_practices_2.jpeg" class="Gallery_collection_image">            
                <div class="hover_plus_wrapper">
                    <div class="hover_plus">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid footer">
    <div class="footer-head">
            <div class="footer-top">
                <span>
                 <h1> About Elina </h1>
                 </span>
                 <span>
                 Elina services is a special education service to empower 
                 children with special needs located in HLC international school, 
                 Thalambur, Chennai.  Our mission is to challenge and inspire each of our 
                 students to become the best version of themselves.

                 </span>
           </div>

        
        <div class="quick">
                    <span>
                        <h1> Quick Links </h1>
                    </span>
                    <ul>
                        <li>
                        <a class="foot">About </a></li>
                        <li>
                        <a class="foot">Intervention-services</a></li>
                        <li>
                        <a class="foot">Enablement-services</a></li>
                        <li>
                        <a class="foot">Thought-leadership</a></li>
                        <li>
                        <a class="foot">Gallery</a></li>
                        <li>
                        <a class="foot">Contact</a></li>
                    
                    </ul>
                    
        </div>
        <div class="touch">
            <span>
            <h1> Get in Touch</h1>
            </span>
            <ul>

            <li><i class="bi bi-person-fill"></i> <span>K.Ramalakshmi, Chief Convenor- Elina, Chennai.</span>
            {# <li><i class="bi bi-house-fill"></i> <span>HLC international school, Thalambur, Chennai.</span> </li> #}
            <li><i class="bi bi-telephone-fill "></i> <span> 9841050686</span></li>
            <li><i class="bi bi-envelope-fill "></i><span>info@elinaservices.in. </span> </li>
            <li><i class="bi bi-globe"></i><span>www.elinaservices.org.</span></li>
            {# <li>©2022 Elina Services www.elinaservices.org</li> #}


            </ul>
        </div>
        
    </div>
    <div class="footer-bottom">
    
    
            <div class="social-links my-auto">
                    <ul class="footer-links">
                    {# <span class="follow fw-400"> Follow Us </span> #}
                        <li>
                            <a class="a-link text-4867aa" href="#" title="Elina Speaks on Facebook">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-f6693f" href="#" title="Elina Speaks on Instagram">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-1da1f2" href="#">
                                <i class="bi bi-twitter" aria-hidden="true" title="Elina Speaks on Twitter"></i>
                            </a>
                            <a class="a-link text-0077b5" href="#" title="Elina Speaks on LinkedIn">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-5661ea" href="#" title="Elina Speaks on Youtube">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </li>
                    </ul>
            </div>
             <div class="copy">
                ©2022 Elina Services www.elinaservices.org
            </div>
     </div> 

    
</div>
          
            
            
<script src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/js/script.js"></script>            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            {# <div class="btn-group dropend">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Contact Us
                </button>
            </div> #}
                {# <p> News, Updates & More </p> #}
            {# <div class="btn-group dropend">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Contact Us
                </button>
            </div> #}

            {# <div class="social-links my-auto me-lg-5">
                    <ul class="footer-links">
                    <span class="follow fw-400"> Follow Us </span>
                        <li>
                            <a class="a-link text-4867aa" href="#" title="Elina Speaks on Facebook">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-f6693f" href="#" title="Elina Speaks on Instagram">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-1da1f2" href="#">
                                <i class="bi bi-twitter" aria-hidden="true" title="Elina Speaks on Twitter"></i>
                            </a>
                            <a class="a-link text-0077b5" href="#" title="Elina Speaks on LinkedIn">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-5661ea" href="#" title="Elina Speaks on Youtube">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </li>
                    </ul>
            </div> #}

            

    
           
        {# <div class="footer_bottom"> #}
        
                {# <span class="footer-bottom-1"> 
                            <img src="http://localhost:10/Elina_webportal/modules/custom/Elina_services/css/images/elina-logo-2.png">
                
                </span> #}
                {# <div class="social-links my-auto me-lg-5">
                    <ul class="footer-links">
                    <span> Follow Us </span>
                        <li>
                            <a class="a-link text-4867aa" href="#">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-f6693f" href="#">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-1da1f2" href="#">
                                <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-0077b5" href="#">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                            <a class="a-link text-5661ea" href="#">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div> #}
              
        {# </div>  #}

<script>
var myVideo = document.getElementById("play");

function playpause() { 
    document.getElementById("play-icon").style.opacity="0";
  if (myVideo.paused) 
    myVideo.play(); 
  else 
    myVideo.pause(); 
} 
</script>





